$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext0: #6c6f85;
$overlay2: #7c7f93;
$overlay1: #8c8fa1;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #ccd0da;
$base: #eff1f5;
$mantle: #e6e9ef;
$crust: #dce0e8;


* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: "JetBrainsMono"
}

.icon {
    font-family: monospace;
    font-size: 1.4rem;
}


button {
    transition: background-color 200ms, color 200ms;
}

.active {
    color: $green;
    font-size: 1.4rem;
}

.inactive {
    color: $base;
    font-size: 1.4rem;
}

.inactive:hover {
    color: $lavender;
}

.bar {
    background-color: $mantle;
    border-left: 4px dotted $red;
}

.dashboard {
    background-color: $mantle;
    padding: 1rem;
    margin-bottom: 1rem;
}

.cal-box {
    padding: 1rem 1rem .2rem;
}

.cal {
    padding: 0;
    border-radius: 8px;
}

.calendar_box {
    padding: 1rem;
    calendar:selected {
        color: $blue;
    }

    calendar.header {
        color: $blue;
        font-weight: bold;
    }

    calendar.button {
        color: $blue;
    }

    calendar.highlight {
        color: $green;
        font-weight: bold;
    }

    calendar:indeterminate {
        color: rgba(205, 219, 249, 0.3);
    }
}

.sysinfo_box {
    padding: 1rem;
    .iconmem {
        font-size: 3rem;
        color: $yellow;
    }
    .iconcpu {
        font-size: 3rem;
        color: $blue;
    }
    .icondisk {
        font-size: 3rem;
        color: $green;
    }
    .cpubar, .membar, .diskbar {
        background-color: $crust;
    }
}
.slider_box {
    padding: 0 1rem;
    scale {
        background-color: $crust;
        border-radius: 100px;
        margin: 0.5rem 0;
    }

    scale trough {
        border-radius: 100px;
    }

    scale highlight {
        padding: 8px;
        margin: 8px;
        border-radius: 100px;
    }
    
    .brightness_slider highlight {
        background-color: $yellow;
    }

    .volume_slider highlight {
        background-color: $blue;
    }

    .micvolume_slider highlight {
        background-color: $green;
    }
    
    .slider_icon {
        font-size: 2rem;
        padding-right: 0.75rem;
    }
}

.notification_box {
}

.wifi {
  font-size: 2rem;
  color: $blue;
}

.clock {
  font-weight: bold;
  background-color: $base;
  color: $text;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.5rem;
}

.cpubar {
  color: $blue;
  background-color: $surface1;
  margin: 4px 0;
}

.diskbar {
  color: $green;
  background-color: $surface1;
  margin: 4px 0;
}

.membar {
    color: $yellow;
    background-color: $surface1;
  margin: 4px 0;
}

.iconmem, .iconcpu, .icondisk {
    color: $base;
    font-size: 2.5rem;
}

.date {
  font-size: 1.5rem;
}

.reg-btn { 
    font-size: 2rem;
    margin: 2px 8px;
    border-radius: 10px;
}

.dashbutton {
    color: $mauve;
}

.dashbutton:hover {
    background-color: $base;
}

.dashbutton:active {
    background-color: $mauve;
    color: $mantle;
}

.powerbutton { 
    color: $red; 
}

.powerbutton:hover {
    background-color: $base;
}

.powerbutton:active {
    background-color: $red;
    color: $mantle;
}

.launchbutton { 
    background-color: $blue; 
    color: $mantle;
    margin-top: 6px;
}

.launchbutton:hover {
    background-color: $mauve;
}

.launchbutton:active {
    color: $mauve;
    background-color: $mantle;
}

.battery {
    font-size: 1.5rem;
    color: $blue;
}

// Credits AlphaTechnolog
.powermenu-box {
    padding: 0 2px;
    margin: 7px 7px 7px 0px;
    background: inherit;
    .dispatcher {
        border-radius: 15px;
        background: $base;
        color: $red;
        font-size: 14px;
        padding: 0 14px 0 10px;
        &:hover { background-color: $surface0; }
        &:active { background-color: $surface1; }
    }
}

// powermenu
.powermenu-container {
  background: $crust;
  color: $text;
  padding: 10px;
  font-size: 55px;

  transition: all 200ms cubic-bezier(.1,-0.00,.0,1.49);

  .btn { margin: 1rem;}
  // shutdown
  .shutdown-btn-box .btn {
    color: $red;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
  // reboot
  .reboot-btn-box .btn {
    color: $mauve;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
  // exit
  .exit-btn-box .btn {
    color: $yellow;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
}

